$c-white: #fff;

.si-card {
  flex-direction: column;
  padding: 2.4rem;
  font-size: 1.4rem;
  background: $c-white;
  box-shadow: 0 0.1rem 0.4rem 0 rgb(0 0 0 / 10%);
  border-radius: 0.4rem;

  &.small {
    padding: 1rem;
  }

  &.no-bg {
    background: none;
    box-shadow: none;
  }
}

.ctr-card {
  @extend .si-card;
  padding: 0rem;
}

.ctr-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  &.non-haz {
    padding-bottom: 2rem;
  }
}
